<section class="text-gray-600 body-font relative m-5 rounded-lg">
  <div class="absolute inset-0 bg-gray-600 rounded-lg">
    <iframe class="rounded-lg shadow-md shadow-white" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.420880372944!2d73.2393147!3d22.299916900000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc57b7c8d1abf%3A0x1ffffd967e372256!2sWaghodia%20Rd%2C%20Vadodara%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1656064382170!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="1" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="container px-3 py-24 mx-auto flex">
    <div class="lg:w-1/3 md:w-1/2 bg-white/90 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
      <h2 class="text-black text-xs md:text-lg mb-1 title-font"><a class="text-orange-500 md:text-xl">Phone </a> +91 7265887213</h2>
      <h2 class="text-black text-xs md:text-lg mb-1 title-font"><a class="text-orange-500 md:text-xl">Email </a> admin@asianbusiness.co.in</h2>
      <br>
      <br>
      <p class="leading-relaxed mb-5 text-gray-800 text-xs md:text-xl">Waghodia Dabhoi Ring Road, Vadodara GUJ</p>
      </div>
  </div>
</section>

<div class="relative text-center mb-20">
  <a class="md:text-2xl p-10 text-white bg-gradient-to-r from-blue-900 to-blue-500 rounded-xl shadow-lg shadow-black">Contact Us For Any Query</a>
</div>

<div class="text-white">
  <a class="md:text-2xl text-lg p-5"><a class="text-orange-500 text-2xl">F</a>requently <a class="text-orange-500 text-2xl">A</a>sked <a class="text-orange-500 text-2xl">Q</a>uestions</a>

  <div class="p-2 rounded-lg mt-2 mx-auto grid lg:grid-cols-3 md:grid-cols-2 max-w-[1500px]">

    <div class="p-3 md:p-5 m-2 rounded-2xl bg-black/30">
      <p class="md:text-lg">Do you redesign existing websites?</p>
      <br>
      <p class="text-white/70 text-xs">We certainly can do! It’s important to approach website redesigns sensitively to make sure your reasons for redesigning are valid. This will ensure the project is an overall success from your ROI point of view.</p>
    </div>

    <div class="p-3 md:p-5 m-2 rounded-2xl bg-black/30">
      <p class="md:text-lg">Do you offer ongoing help with our new site once it's launched?</p>
      <br>
      <p class="text-white/70 text-xs">If you need our help with web support and maintenance, we’ll be here for you. If not, we will leave you to it. If you change your mind and need us after all, we’ll still be here for you!</p>
    </div>

    <div class="p-3 md:p-5 m-2 rounded-2xl bg-black/30">
      <p class="md:text-lg">Will my website work on smart phones and tablets as well?</p>
      <br>
      <p class="text-white/70 text-xs">It most certainly will! More people are accessing the web via small screens than ever, and the trend is likely to carry on. If your site doesn’t display or work properly on a mobile or tablet screen, you risk losing a big chunk of your potential audience. It means mobile responsive web design is essential these days. Every website we create is mobile responsive.</p>
    </div>

    <div class="p-3 m-2 rounded-2xl bg-black/30">
      <p class="md:text-lg">Are there any other costs for my website?</p>
      <br>
      <p class="text-white/70 text-xs">If you host through us, there are hosting charges. There may also be costs for photos if you can’t supply them yourself. However we always do our best to use stock images sites that are free where possible. Other than that, we always make extra charges if there are any crystal clear up front so you know exactly where you stand.</p>
    </div>

    <div class="p-3 md:p-5 m-2 rounded-2xl bg-black/30">
      <p class="md:text-lg">What is web hosting?</p>
      <br>
      <p class="text-white/70 text-xs">Web hosting is required in order to get your website online. It is the space that you ‘rent’ which houses your web files and allows users to access your site and the information contained on it.</p>
    </div>

    <div class="p-3 md:p-5 m-2 rounded-2xl bg-black/30">
      <p class="md:text-lg">Can I purchase my own domain?</p>
      <br>
      <p class="text-white/70 text-xs">Go ahead. Once you’ve sorted your domain out, we can take things from there. But if you need help, feel free to ask. We will guide you through the whole process.</p>
    </div>

  </div>

</div>


