  
<footer class="p-4 bg-white md:flex md:text-center md:justify-between md:p-6 dark:bg-gray-800">

    <span class="text-sm text-black sm:text-center">© 2022 <a href="https://www.asianbusiness.co.in/" class="hover:underline">AsianBusiness</a>. All Rights Reserved.</span>

     <ul class="flex flex-wrap mt-3 text-sm text-orange-600 dark:text-gray-400 sm:mt-0">
        <li>
            <a routerLink="/service" class="mr-4 hover:underline md:mr-6 ">Services</a>
        </li>
        <li>
            <a routerLink="/contact" class="hover:underline">Contact</a>
        </li>
    </ul>
 
</footer>

