<div id="top" class="relative overflow-hidden bg-no-repeat bg-cover" style="
    background-position: 80%;
    background-image: url('assets/mainpic3.jpg');
    height: 600px;
  ">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(0, 0, 0, 0.5)">
      <div class="flex justify-center items-center h-full">
        <div class="text-center text-white px-2 md:px-8">
          <h1 class="lg:text-4xl text-sm hidden lg:block mt-0 mb-6 text-white opacity-0 translate-y-9 duration-1000" x-intersect="$el.classList.add('opacity-100', 'translate-y-0')"> Web Development, Social-Media-Marketing, Consultancy </h1>
          <h1 class="lg:text-2xl text-2xl lg:hidden block mt-0 mb-6 opacity-0 -translate-x-9 duration-1000" x-intersect="$el.classList.add('opacity-100', 'translate-x-0')"> Consultancy, </h1>
          <h1 class="lg:text-2xl text-2xl lg:hidden block mt-0 mb-6 opacity-0  duration-1000" x-intersect="$el.classList.add('opacity-100')">Social-Media-Marketing,</h1>
          <h1 class="lg:text-2xl text-2xl lg:hidden block mt-0 mb-6 opacity-0 translate-x-9 duration-1000" x-intersect="$el.classList.add('opacity-100', 'translate-x-0')">Web Development</h1>
          <h3 class="lg:text-xl text-md mb-8 text-white/90 opacity-0 translate-y-3 duration-1000" x-intersect="$el.classList.add('opacity-100', 'translate-y-0')">We Create & Provide All Stack Web Solutions</h3>
          <button type="button"
            class="opacity-90 bg-orange-500 animate-bounce inline-block px-6 py-2.5 border-0 border-orange-500 text-white font-medium text-xs leading-tight uppercase rounded hover:font-bold hover:bg-orange-500 hover:bg-opacity-80 hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
            data-mdb-ripple="true" data-mdb-ripple-color="primary" routerLink="/contact">
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->



<div class="p-2 pt-20 pb-10 bg-gradient-to-b lg:bg-gradient-to-r from-black/60 to-blue-900 ">
  <a class="text-3xl text-orange-500 justify-center px-8">Our Services</a>

  <div class="pt-2 grid md:grid-cols-2 xl:grid-cols-4">
  <div class="flex justify-center p-3 transition-all opacity-0 translate-y-9 duration-1000" x-intersect="$el.classList.add('opacity-100', 'translate-y-0')" >
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a  data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic2-new.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-lg md:text-xl font-medium mb-2">Web Design</h5>
      <p class="text-gray-700 text-sm mb-4 ">
        Web design encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design; user interface design; authoring, including standardised code and proprietary software; user experience design; and search engine optimization.
      </p>
    </div>
  </div>
</div>

<div class="flex justify-center p-3 transition-all opacity-0 translate-y-9 duration-500" x-intersect="$el.classList.add('opacity-100', 'translate-y-0')">
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic1-new.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-lg md:text-xl font-medium mb-2">Web Consultancy</h5>
      <p class="text-gray-700 text-sm mb-4 ">
      A web consultant is a technical professional who works with clients to promote the success of their business through web development and design. These consultants provide practical suggestions for improving the online presence of their clients and their businesses.
      </p>
    </div>
  </div>
</div>

<div class="flex justify-center p-3 transition-all opacity-0 translate-y-9 duration-1000" x-intersect="$el.classList.add('opacity-100', 'translate-y-0')">
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a  data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic4-new.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-lg md:text-xl font-medium mb-2">E-Commerce</h5>
      <p class="text-gray-700 text-sm mb-4 ">
      Ecommerce (electronic commerce) refers to all online activity that involves the buying and selling of products and services. In other words, ecommerce is a process for conducting transactions online.
      </p>
    </div>
  </div>
</div>

<div class="flex justify-center p-3 transition-all opacity-0 translate-y-9 duration-700" x-intersect="$el.classList.add('opacity-100', 'translate-y-0')" >
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a  data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic6-new.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-lg md:text-xl font-medium mb-2">Social Media Marketing</h5>
      <p class="text-gray-700 text-sm mb-4 ">
      Social media marketing is the use of social media platforms and websites to promote a product or service. Although the terms e-marketing and digital marketing are still dominant in academia, social media marketing is becoming more popular for both practitioners and researchers.
      </p>
    </div>
</div>
</div>

<div class="text-right lg:col-span-2 xl:col-span-4 p-4 opacity-0 translate-y-9 duration-1000 ">
          <button type="button"
            class="bg-orange-500 animate-bounce inline-block px-6 py-2.5 border-0 border-orange-500 text-white font-medium text-xs leading-tight rounded hover:font-bold hover:bg-orange-500 hover:bg-opacity-80 hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
            data-mdb-ripple="true" data-mdb-ripple-color="primary" routerLink="/service">
            Know More
          </button>
</div>
</div>
</div>
