<div id="top" class="relative overflow-hidden bg-no-repeat bg-cover" style="
    background-position: 100%;
    background-image: url('assets/mainpic.jpg');
    height: 700px;
  ">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="flex justify-center items-center h-full">
        <div class="text-center text-white px-2 md:px-8">
          <h1 class="lg:text-3xl text-sm hidden lg:block font-bold mt-0 mb-6 text-white ">< Web Development, Social-Media-Marketing, Consultancy ></h1>
          <h1 class="lg:text-2xl text-3xl lg:hidden block font-bold mt-0 mb-6 ">< Consultancy ></h1>
          <h1 class="lg:text-2xl text-3xl lg:hidden block font-bold mt-0 mb-6 ">< Social-Media-Marketing></h1>
          <h1 class="lg:text-2xl text-3xl lg:hidden block font-bold mt-0 mb-6 ">< Web Development ></h1>
          <h3 class="lg:text-xl text-md font-bold mb-8 text-white/50">We Create & Provide All Stack Web Services</h3>
          <button type="button"
            class="opacity-90 bg-orange-500 animate-bounce inline-block px-6 py-2.5 border-0 border-orange-500 text-white font-medium text-xs leading-tight uppercase rounded hover:font-bold hover:bg-orange-500 hover:bg-opacity-80 hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
            data-mdb-ripple="true" data-mdb-ripple-color="primary" routerLink="/contact">
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->

<div class="lg:flex justify-center p-5 pt-20 pb-20 bg-gradient-to-b lg:bg-gradient-to-r from-gray-900 to-blue-900">
  <a class="text-3xl text-orange-500 justify-center flex p-3">Our Services</a>
  <div class="flex justify-center p-3  transition-all">
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a  data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic2-new.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">Web Design</h5>
      <p class="text-gray-700 text-base mb-4 ">
        Web design encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design; user interface design; authoring, including standardised code and proprietary software; user experience design; and search engine optimization.
      </p>
    </div>
  </div>
</div>


<div class="flex justify-center p-3 transition-all">
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic1-new.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">Web Consultancy</h5>
      <p class="text-gray-700 text-base mb-4 ">
      A web consultant is a technical professional who works with clients to promote the success of their business through web development and design. These consultants provide practical suggestions for improving the online presence of their clients and their businesses.
      </p>
    </div>
  </div>
</div>

<div class="flex justify-center p-3 transition-all">
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a  data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic4-new.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">E-Commerce</h5>
      <p class="text-gray-700 text-base mb-4 ">
      Ecommerce (electronic commerce) refers to all online activity that involves the buying and selling of products and services. In other words, ecommerce is a process for conducting transactions online.
      </p>
    </div>
  </div>
</div>

<div class="flex justify-center p-3  transition-all">
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a  data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic6-new.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">Social Media Marketing</h5>
      <p class="text-gray-700 text-base mb-4 ">
      Social media marketing is the use of social media platforms and websites to promote a product or service. Although the terms e-marketing and digital marketing are still dominant in academia, social media marketing is becoming more popular for both practitioners and researchers.
      </p>
    </div>
  </div>
</div>


</div>

<div class="text-right m-5">
  <a class="text-orange-500" href="#">Goto Top</a>
</div>




